{% extends "base.html" %}

{% block title %}Polls{% endblock %}

{% block body %}
<h1 class="m-5 text-center">{{ poll.poll_text }}</h1>
<p class="text-center">Published: {{ poll.publish_date }}</p>
<p class="text-center">{% if poll.poll_open %}<span style="color: green;">Open</span>{% else %}<span style="color: red;">Closed</span>{% endif %}</p>
<div class="container mt-5">    
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Choice</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
            {% for choice in choices %}
            <tr>
                <td>{{ choice.choice_text }}</td>
                <td>{{ choice.votes }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}