{% extends "base.html" %}

{% block title %}{{ poll.poll_text }} Details{% endblock %}

{% block body %}
{% if poll.visible %}
    <h1 class="m-5 text-center">{{ poll.poll_text }}</h1>
    <p class="text-center">Published: {{ poll.publish_date }}</p>
    <p class="text-center">{% if poll.poll_open %}Opened:{% else %}Opens:{% endif %} {{ poll.open_date }}</p>
    <p class="text-center">{% if poll.poll_open %}Closes:{% else %}Closed:{% endif %} {{ poll.close_date }}</p>
    <p class="text-center">{% if poll.poll_open %}<span style="color: green;">Open</span>{% else %}<span style="color: red;">Closed</span>{% endif %}</p>
    <p class="text-center pt-3"><strong>{% if poll.poll_open %}<span style="color: red;">The results shown below are preliminary. Official results will not be available until this poll closes.</span>{% else %}<span style="color: green;">The results shown below are the official results for this poll.{% endif %}</span></strong></p>
    <div class="container mt-5">    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Choice</th>
                    <th>Votes</th>
                    <th>Percentage</th>
                    <th>Amount of Total Votes</th>
                </tr>
            </thead>
            <tbody>
                {% if poll.results_visible %}
                {% for choice in choices %}
                <tr>
                    <td><span {% if choice.choice in winners %} style="color: green; font-weight: bold;" {% endif %}>{{ choice.choice.choice_text }}</span></td>
                    <td><span {% if choice.choice in winners %} style="color: green; font-weight: bold;" {% endif %}>{{ choice.choice.votes }}</span></td>
                    <td><span {% if choice.choice in winners %} style="color: green; font-weight: bold;" {% endif %}>{{ choice.percentage|floatformat:2 }}%</span></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ choice.percentage }}%;" aria-valuenow="{{ choice.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                {% for choice in choices %}
                <tr>
                    <td>{{ choice.choice.choice_text }}</td>
                    <td><span class="material-symbols-outlined">visibility_off</span></td>
                    <td><span class="material-symbols-outlined">visibility_off</span></td>
                    <td><span class="material-symbols-outlined">visibility_off</span></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        <p class="text-center"><strong>{% if poll.results_visible %}Total Votes: {{ total_votes }}{% else %}The results for this poll have been hidden.{% endif %}</strong></p>
    </div>
{% else %}
<h1 class="text-center m-3">This Poll Has Been Hidden</h1>
{% endif %}
{% endblock %}