{% extends "base.html" %}

{% block title %}{{ election.election_name }} Details{% endblock %}

{% block body %}
{% if election.visible %}
    <h1 class="m-5 text-center">{{ election.election_name }}</h1>
    <p class="text-center">Published: {{ election.publish_date }}</p>
    <p class="text-center">{% if election.election_open %}Opened:{% else %}Opens:{% endif %} {{ election.open_date }}</p>
    <p class="text-center">{% if election.election_open %}Closes:{% else %}Closed:{% endif %} {{ election.close_date }}</p>
    <p class="text-center">Election Type: {% if election.election_type == "IRV" %}Instant Runoff Voting{% elif election.election_type == "STV" %}Single Transferable Vote{% else %}Preferntial Block Voting{% endif %}</p>
    <p class="text-center">Number of Seats Being Contested: {{ election.number_of_seats }}</p>
    <p class="text-center">{% if election.election_open %}<span style="color: green;">Open</span>{% else %}<span style="color: red;">Closed</span>{% endif %}</p>
    <div class="container mt-5">
        <h5><strong>Candidates:</strong></h5>    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Candidate</th>
                    <th>Affiliation</th>
                </tr>
            </thead>
            <tbody>
                {% for candidate in candidates %}
                <tr>
                    <td>{{ candidate.full_name }}</td>
                    <td>{{ candidate.affiliation }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <h5><strong>First Preference Result:</strong></h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Candidate</th>
                    <th>First Preference Votes</th>
                    <th>Percentage</th>
                    <th>Amount of Total Votes</th>
                </tr>
            </thead>
            <tbody>
                {% if election.results_visible %}
                {% for candidate in candidates_with_percentages %}
                <tr>
                    <td><span {% if candidate.name in first_preference_winners %} style="color: green; font-weight: bold;" {% endif %}>{{ candidate.name }}</span></td>
                    <td><span {% if candidate.name in first_preference_winners %} style="color: green; font-weight: bold;" {% endif %}>{{ candidate.votes }}</span></td>
                    <td><span {% if candidate.name in first_preference_winners %} style="color: green; font-weight: bold;" {% endif %}>{{ candidate.vote_percentage|floatformat:2 }}%</span></td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: {{ candidate.vote_percentage }}%;" aria-valuenow="{{ candidate.vote_percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                {% for candidate in candidates_with_percentages %}
                <tr>
                    <td>{{ candidate.name }}</td>
                    <td><span class="material-symbols-outlined">visibility_off</span></td>
                    <td><span class="material-symbols-outlined">visibility_off</span></td>
                    <td><span class="material-symbols-outlined">visibility_off</span></td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% if election.results_visible %}<p><strong><h5>Result: </h5><pre>{{ result }}</pre></strong></p>
        <p class="text-center"><strong>Total Votes: {{ total_votes }}</strong></p>
        {% else %}<p class="text-center"><strong>The results for this election have been hidden.</strong></p>{% endif %}
    </div>
{% else %}
<h1 class="text-center m-3">This Election Has Been Hidden</h1>
{% endif %}
{% endblock %}