{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<h1 class="text-center pt-5"><strong>Welcome.</strong></h1>
<p class="text-center pb-5">Welcome to DigiVote, the home of digital voting.</p>

<div class="container mt-5">
    <div class="row align-items-start">
        <div class="col">
            <h1 class="text-center"><span class="material-symbols-outlined" style="font-size: 100px;">lock</span></h1>
            <p class="text-center">DigiVote uses an <strong>anonymous</strong> system to record votes. When you vote, your vote is recorded anonymously in DigiVote's database. At the same time, a vote record is recorded. This only includes your name and which poll or election you voted in, <strong>not</strong> who/what you voted for. This separates you and your vote, making your vote truly secret whilst still allowing you to confirm your vote was counted correctly.</p>
        </div>
        <div class="col">
            <h1 class="text-center"><span class="material-symbols-outlined" style="font-size: 100px;">how_to_vote</span></h1>
            <p class="text-center">DigiVote makes it simple to vote. All the usual headaches and complexities are removed. Instead, DigiVote uses a simple and modern interface with clear instructions to help you cast your vote with confidence.</p>
        </div>
        <div class="col">
            <h1 class="text-center"><span class="material-symbols-outlined" style="font-size: 100px;">schedule</span></h1>
            <p class="text-center">DigiVote allows for polls and elections to be opened and closed automatically. This means that polls and elections can be <strong>scheduled</strong> for specific time periods. This allows polls and elections to be created in advance, but only voted in once they open, and enforces closing times.</p>
        </div>
        <div class="col">
            <h1 class="text-center"><span class="material-symbols-outlined" style="font-size: 100px;">ballot</span></h1>
            <p class="text-center">DigiVote supports multiple styles of elections. It has options for <strong>Instant Runoff Voting (IRV)</strong>, <strong>Single Transferable Vote (STV)</strong>, <strong>Preferential Block Voting (PBV)</strong>, and <strong>Plurality Voting</strong>. This means elections can be run in many different ways to suit everyone's needs.</p>
        </div>
        <div class="col">
            <h1 class="text-center"><span class="material-symbols-outlined" style="font-size: 100px;">account_circle</span></h1>
            <p class="text-center">DigiVote has a <strong>MyVotes</strong> feature. This allows you to easily view which polls and elections you have voted in so far. Also, DigiVote allows you to print a voting receipt, giving you peace of mind knowing that your vote was correctly counted. However, your selection is <strong>always</strong> kept secret. There is no way to know who/what you voted for.</strong></p>
        </div>
    </div>
</div>
{% endblock %}