{% extends "base.html" %}

{% block title %}My Votes{% endblock %}

{% block body %}
<div class="container mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Poll</th>
                <th>Time</th>
                <th>Selected Choice</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vote in votes %}
                <tr>
                    <td>{{ vote.poll.poll_text }}</td>
                    <td>{{ vote.voted_at }}</td>
                    <td>{{ vote.choice.choice_text }}</td>
                    <td><a href="{% url 'vote_receipt' vote.id 1 %}">Print Receipt (With Selection)</a><br><a href="{% url 'vote_receipt' vote.id 0 %}">Print Receipt (Without Selection)</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}